<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label "Имя" %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label "Текст комментария" %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>